<div id="project_1" class="project_header row">
  <div class="project_img span2">
  </div>
  <div class="project_abstract span14">
    <div>
      <h1>Factores críticos</h1>
      <p>Este proyecto tiene como fin...</p>
    </div>
    <a href="#" class="project_details">DETAILS <span class="arrow"></span></a>
  </div>
</div>
  
<div id="project_nav_bar">
  <ul>
    <li><a href="#" class="active">TASKS</a></li>
    <li><a href="#">IDEAS</a></li>
    <li><a href="#">PEOPLE</a></li>
    <li><a href="#">FILES</a></li>
  </ul>
</div>

<div id="jam" class="row">
  <div id="milestones_sidebar" class="span6">
    <div class="section_header">
      <h1>MILESTONES</h1>
      <a href="#" class="action">NEW</a>
      <a href="#" class="details">DETAILS <span class="arrow"></span></a>
    </div>
    <a class="show_all" href="#">ALL TASKS</a>
    <div id="milestones">
      <ul>
        <li id="milestone_1" class="milestone"><a href="#">Agenda de desarrollo</a></li>
        <li id="milestone_2" class="milestone"><a href="#">Asignación de segmento a tiendas nuevas</a></li>
        <li id="milestone_3" class="milestone"><a href="#">BAE</a></li>
        <li id="milestone_4" class="milestone"><a href="#" class="active">Indicadores de segmentación</a></li>
        <li id="milestone_5" class="milestone"><a href="#">Agenda de desarrollo</a></li>
        <li id="milestone_6" class="milestone"><a href="#">Asignación de segmento a tiendas nuevas</a></li>
        <li id="milestone_7" class="milestone"><a href="#">O. super</a></li>
      </ul>
    </div>
  </div>
  <div id="tasks_section" class="span10">
    <div class="section_header">
      <h1>TASKS</h1>
      <a href="#" class="action">NEW</a>
    </div>
    <div class="filters">
      <ul>
        <li><a href="#" class="active">ALL</a></li>
        <li><a href="#">MONTH</a></li>
        <li><a href="#">WEEK</a></li>
        <li><a href="#">TODAY</a></li>
        <li><a href="#">CLOSED</a></li>
      </ul>
    </div>
    
    <div id="tasks">
      <table>
        <tr id="task_1" class="task">
          <td class="task_checkbox"><input type="checkbox"></td>
          <td class="task_name">Hacer analisis de segmentación en tiendas ...</td>
          <td class="task_color"></td>
          <td class="task_files_count"><span class="borders">(1)</span></td>
          <td class="task_comments_count"><span class="borders">(2)</span></td>
          <td class="task_overdue overdue"><span class="borders">OVERDUE</span></td>
          <td class="task_date">1/1/2012</td>
          <td class="task_destroy"><a href="#">x</a></td>
        </tr>
        <tr id="task_2" class="task">
          <td class="task_checkbox"><input type="checkbox"></td>
          <td class="task_name">Hacer analisis de segmentación en tiendas ...</td>
          <td class="task_color"></td>
          <td class="task_files_count"><span class="borders">(1)</span></td>
          <td class="task_comments_count"><span class="borders">(2)</span></td>
          <td class="task_overdue"><span class="borders"></span></td>
          <td class="task_date">1/1/2012</td>
          <td class="task_destroy"><a href="#">x</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>

  